*a {
    cursor: pointer;
}
/* Estilo nav menu*/
.menu-mobile-header {
    position: relative;
    overflow: hidden;
    background-color: #1574bf;
}

.menu-links {
    display: none;
}

/*  nav menu links */
.mobile-item {
     color: white;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     display: block;
     border-bottom: 1px solid #fff;
}

/* Style the Hamburguer*/
a.icon {
    color: white;
    display: block;
    max-width: 20px;
}
a.icon:hover {
    background: white;
    color: #1574bf;
}


/* Add a grey background */
.menu-mobile-header a:hover {
    background-color: white;
    color: #1574bf;
}

/* formatação do header */
.margin {
    margin: 10px;
}

.margin-icon {
    margin-left: 10px;
}

.header-flex {
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 768px) {
    .margin-icon {
        margin-right: 0px !important;
    }

    .header-flex {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important; 
        white-space:nowrap;
    }

    .title-senai {
        display: none;
    }
}

/************************/
/* Formatação das views em geral */
/************************/

.title-view {
    display: flex;
    justify-content: center;
    color: #1574bf;
    font-weight: bold;
}

/* formatação dos icones */

.i-font-50 {
    font-size: 50px;
    margin-left: 20px;
}

.i-font-30 {
    font-size: 30px;
    padding: 10px;
}

.dr-icon {
    position: absolute;
    right: 200px;
}

.icone-link:hover {
    color: #024f91;
}


