*a {
    cursor: pointer;
}
/* Style the nav menu*/
.menu-mobile-header {
    position: relative;
    overflow: hidden;
    background-color: #1574bf;
}

.menu-links {
    display: none;
}

/* style the nav menu links */
.mobile-item {
     color: white;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     display: block;
     border-bottom: 1px solid #fff;
}

/* Style the Hamburguer*/
a.icon {
    color: white;
    display: block;
    max-width: 20px;
}
a.icon:hover {
    background: white;
    color: #1574bf;
}


/* Add a grey background */
.menu-mobile-header a:hover {
    background-color: white;
    color: #1574bf;
}

/* formatação do header */
.margin {
    margin: 10px;
}

.margin-icon {
    margin-left: 10px;
}

.header-flex {
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 768px) {
    .margin-icon {
        margin-right: 0px !important;
    }

    .header-flex {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important; 
        white-space:nowrap;
    }

    .title-senai {
        display: none;
    }
}
