*a {
    cursor: pointer;
}

/* Estilo nav menu*/
.menu-mobile-header {
    position: relative;
    overflow: hidden;
    background-color: #1574bf;
}

.menu-links {
    display: none;
}

.submenu {
    margin-left: 20px;
}

#sub-cro, #sub-cad {
    display: none;
}

/*  nav menu links */
.mobile-item {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-bottom: 1px solid #fff;
}

.mobile-sub-item {
    color: white;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 11px;
    display: block;
    border-bottom: 1px solid #fff;
}

/* Style the Hamburguer*/
a.icon {
    color: white;
    display: block;
    max-width: 20px;
}
a.icon:hover {
    background: white;
    color: #1574bf;
}


/* Add a grey background */
.menu-mobile-header a:hover {
    background-color: white;
    color: #1574bf;
}

/* formatação do header */
.margin {
    margin: 10px;
}

.margin-icon {
    margin-left: 10px;
}

.header-flex {
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 768px) {
    .margin-icon {
        margin-right: 0px !important;
    }

    .header-flex {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important; 
        white-space:nowrap;
    }

    .title-senai {
        display: none;
    }
}

/************************/
/* Formatação das views em geral */
/************************/

/* formatação de conteudo das views */
.content-view {
    padding-top: 10px;
    overflow-x: auto;
}


.title-view {
    display: flex;
    justify-content: center;
    color: #1574bf;
    font-weight: bold;
    border: 3px solid #1574bf;
}

/* formatação dos icones */

.i-font-50 {
    font-size: 50px;
    margin-left: 20px;
}

.i-font-20 {
    font-size: 20px;
    padding: 10px;
}

.dr-icon {
    display: flex;
    justify-content: center;
}

.icone-link:hover {
    color: #024f91;
}

/* icones da view create */
.btn-icons {
    display: flex;
    justify-content: space-around;
}

.btn-submit {
    border: none;
    color: #1574bf;
    cursor: pointer;
}

/* Formatação do modal de ajuda */

.btn-modal {
    color: #1574bf !important;
}

.btn-modal:hover {
    cursor: pointer;
}

.modal-help {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;

    overflow: hidden!important;

}

.help-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 60%;
    min-width: 300px;
    border: 5px solid #1574bf;
    color: #1574bf;
    border-radius: 10px;

    transform: translateY(400%);
    transition: transform 500ms linear;
}

.modal-active {
    transform: translateY(0px) !important;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 50%;
    color: #1574bf;
    background-color: white;
    font-weight: bold;
    font-size: 15px;
}

.close-modal:hover {
    cursor: pointer;
    color: white;
    background-color: #1574bf;
}

.img-modal {
    width: 100%;
}


