.img-back {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.login-page {
    overflow: hidden;
}

.title-login {
    color: white;
    font-weight: bold;
}

.login-func {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    z-index: 2;
}

.form-login {
   /* border: 1px solid white; */
    padding: 100px 30px;
    border-radius: 30px;
    background-color: rgba(0,0,0,.3);
}

label {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.field-form {
    font-size: 18px;
    border-bottom: 1px solid #1574bf!important;
    padding: 8px 0;
    margin: 8px 0;
}

input{
    background: none!important;
    border: none!important;
    outline: none!important;
    color: white!important;
}

.btn-login {
    background: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #1574bf;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.btn-login:hover {
    background-color: rgb(70, 195, 80);
    border: none;
}