.login-page {
    background-color: #1574bf;
}

.title-login {
    color: white;
    font-weight: bold;
}

.login-func {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

label {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.form-control {
    font-size: 16px;
    border-radius: 10px;
}