@model Tcc_Senai.Models.Coordenador

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Coordenador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCoordenador" />
            <div class="form-group">
                <label asp-for="NomeCompleto" class="control-label"></label>
                <input asp-for="NomeCompleto" class="form-control" />
                <span asp-validation-for="NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDoUsuario" class="control-label"></label>
                <input asp-for="NomeDoUsuario" class="form-control" />
                <span asp-validation-for="NomeDoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDeAcesso" class="control-label"></label>
                <input asp-for="TipoDeAcesso" class="form-control" />
                <span asp-validation-for="TipoDeAcesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmarSenha" class="control-label"></label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
