@model Tcc_Senai.Models.Semestre

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar semestre</title>
</head>
<body>

<hr />
<div class="row">
    <div class="col-12 col-sm-12 col-md-6 offset-md-3">
         <h2 class="title-view">Cadastrar semestre</h2>
         <form asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                 <label asp-for="NomeSemestre" class="control-label"></label>
                 <input asp-for="NomeSemestre" class="form-control" />
                 <span asp-validation-for="NomeSemestre" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="Ano" class="control-label"></label>
                 <input asp-for="Ano" class="form-control" />
                 <span asp-validation-for="Ano" class="text-danger"></span>
             </div>
             <div class="btn-icons" ,>
                 <a asp-action="Index" class="i-font-50">
                     <i class="fas fa-chevron-circle-left"></i>
                 </a>
                 <button class="btn-submit i-font-50"><i class="fas fa-save"></i></button>
             </div>
         </form>
    </div>
</div>


@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
</body>
</html>
