
@model Tcc_Senai.Models.Professor

@{
   Layout = null;
   ViewData["Title"] = "Create";
   Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
</head>
<body>

<h4>Professor</h4>
<hr />
<div class="container">
    <div class="center-form">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="NomeCompleto" class="control-label"></label>
                        <input asp-for="NomeCompleto" class="form-control" />
                        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PrimeiroNome" class="control-label"></label>
                        <input asp-for="PrimeiroNome" class="form-control" />
                        <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipoDeContrato" class="control-label"></label>
                        <input asp-for="TipoDeContrato" class="form-control" />
                        <span asp-validation-for="TipoDeContrato" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="HorarioDeTrabalho" class="control-label"></label>
                        <input asp-for="HorarioDeTrabalho" class="form-control" />
                        <span asp-validation-for="HorarioDeTrabalho" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CargaHorariaSemanal" class="control-label"></label>
                        <input asp-for="CargaHorariaSemanal" class="form-control" />
                        <span asp-validation-for="CargaHorariaSemanal" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">
                            Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
     
  @*

   @section Scripts {
      {await Html.RenderPartialAsync("_ValidationScriptsPartial");}
   }*@

</body>
</html>
