@model Tcc_Senai.Models.Modalidade

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar Modalidade</title>
</head>
<body>
    <hr />
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 offset-md-3">
            <h2 class="title-view">Deletar Modalidade</h2>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </dl>
            <div class="btn-icons" ,>
                <a asp-action="Index" class="i-font-50">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
                <button class="btn-submit i-font-50" data-toggle="modal" data-target="#modalConfirmationDelete"><i class="fas fa-eraser"></i></button>
            </div>
            <div class="modal fade" id="modalConfirmationDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModal">Remoção de Modalidade</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Confirma a exclusão de modalidade @Model.Nome.ToUpper()?</p>
                        </div>
                        <div class="modal-footer">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Remover Modalidade" class="btn btn-primary" />
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Fechar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>