@model IEnumerable<Tcc_Senai.Models.Modalidade>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modalidades</title>
</head>
<body>
    <div class="card-header text-white bg-primary text-center h1">
        Modalidades
    </div>
    <div class="col-12 content-view">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="i-font-20 icone-link"><i class="fas fa-pencil-alt"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="i-font-20 icone-link"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="dr-icon icone-link">
        <div class="row">
            <div class="col-6">
                <a asp-action="Create" class="i-font-50"><i class="fas fa-folder-plus"></i></a>
            </div>
            <div class="col-6">
                <a class="btn-modal i-font-50"><i class="far fa-question-circle"></i></a>
            </div>
        </div>
    </div>

    <div class="modal-help">
        <div class="help-content">
            <button class="close-modal">X</button>
            <img class="img-modal" src="~/images/responsivo/img-modal.png" />
        </div>
    </div>

    <script src="~/js/Layout/Index.js"></script>
</body>
</html>
