@model Tcc_Senai.Models.Turma

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-6 offset-md-3">
        <h2 class="title-view">Alterar Turma</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTurma" />
            <div class="form-group">
                <label asp-for="Periodo" class="control-label">
                </label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeTurma" class="control-label">
                </label>
                <input asp-for="NomeTurma" class="form-control" />
                <span asp-validation-for="NomeTurma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCurso" class="control-label"></label>
                <select asp-for="IdCurso" class="form-control" asp-items=@ViewBag.Cursos></select>
            </div>

            <div class="btn-icons" ,>
                <a asp-action="Index" class="i-font-50">
                    <i class="fas fa-chevron-circle-left"></i>
                </a>
                <button class="btn-submit i-font-50"><i class="fas fa-save"></i></button>
            </div>
        </form>
    </div>
</div>
@*
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@
}

