@model Tcc_Senai.Models.Funcionario
@{
     Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div class="login-func container">
        <div class="form-login col-12 col-sm-12 col-md-6">
            <div class="row page-title d-flex">
                <a href="#" class="d-inline-block">
                    <img src="~/images/responsivo/sistema-fiep-logo.png" height="60" width="165">
                </a>
                <div>
                    <h1 class="title-login ml-5 p-2">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">
                                LOGIN SENAIGRAM
                            </font>
                        </font>
                    </h1>
                </div>
            </div>
            @if (ViewData["MSG_ER"] != null)
            {
                <p class="alert alert-danger"> @ViewData["MSG_ER"] </p>
            }
            <form asp-action="Login">
                <div class="form-group">
                    <input asp-for="Email" class="form-control field-form" placeholder="E-mail"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Senha" class="form-control field-form" placeholder="Senha"/>
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <button class="btn-login" type="submit">ENTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>