@model Tcc_Senai.Models.Curso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutSenai.cshtml";
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">
        Atualizar
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCurso" />
            <div class="form-group">
                <label asp-for="NomeCurso" class="control-label">
                </label>
                <input asp-for="NomeCurso" class="form-control" />
                <span asp-validation-for="NomeCurso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModalidade" class="control-label"></label>
                <select asp-for="IdModalidade" class="form-control" asp-items=@ViewBag.Modalidades></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUc" class="control-label"></label>
                <select asp-for="IdUc" class="form-control" asp-items=@ViewBag.UnidadeCurriculares></select>
            </div>
            <div class="form-group">
                <label asp-for="CargaHoraria" class="control-label">
                </label>
                <input asp-for="CargaHoraria" class="form-control" />
                <span asp-validation-for="CargaHoraria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sigla" class="control-label">
                </label>
                <input asp-for="Sigla" class="form-control" />
                <span asp-validation-for="Sigla" class="text-danger"></span>
            </div>
            
            <div class="form-group text-center h3">
                <input type="submit" value="Salvar" class="btn btn-primary" />

                <a asp-action="Index" class="btn btn-warning">
                    Voltar
                </a>
            </div>
        </form>
    </div>
</div>
@*
@section ScriptPage {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }*@


